{% extends "main.html" %}
{% block content %}
<div class="row divider red">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-10 offset-1">
    <h1>Password Reset</h1>
    <h3>Please, enter the data below</h3>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-10 col-md-offset-1 padding-top">
      <label>For the security question:</label>
      <p>{{ f.decrypt(user.security_question).decode() }}</p>
      <form action="{{ url_for('resetPassword') }}" method="POST">
          <div class="form-group">
              <label for="security_question_answer">Enter your answer:</label><br>
              <input type ="password" class="form-control" maxlength="80"
                name="old_security_question_answer" autocomplete="off" required><br>

                <h5>For security, choose a password of minimum 8 characters,
                    starting with a letter.</h5>
                <h5>If you choose a small password, please include upper
                    and lower case letters, or letters plus numbers and symbols.
                    PLEASE, DO NOT CHOOSE ONLY ONE DICTIONARY WORD!</h5>
                <h5>Suggestion: choose three uncommon dictionary words as your password,
                    in sequence, separated by space or some symbol.
                    <br>In this case, you can use only lower case or only uppercase
                    letters (It is easier to remember!)</h5><br>

              <label for="name">New Password:</label><br>
              <input  id="password" type ="password" class="form-control input-password" maxlength="32" size="32"
                name="password" id="password" title="Enter a password of minimum 6 characters"
                minlength="6" autocomplete="off" required>
              <label class="margin-left" id="pass_strength"></label>

              <div class="padding-bottom"></div>

              <label for="name">Confirm:</label>
              <input id="conf_password" type ="password" class="form-control" maxlength="32" size="32"
                name="conf_password" autocomplete="off" required>

              <div class="padding-bottom"></div><br>

              <h5>Please, make a security question and its answer.</h5>
              <h5>The question will be used for when you choose to reset the password.<br>
                  If you don't make it, you couldn't reset the password.</h5><br>

              <label for="name">New Security Question:</label>
              <input id="security_question" type ="text" class="form-control" maxlength="80" size="32"
                  name="security_question">

              <div class="padding-bottom"></div><br>

              <h5>The answer must have at least 12 characters, including spaces.</h5>
              <h5>Suggestion: You could use a phrase as the answer.<br>
                  This can be like a 'pass phrase' and the question like a hint.<br>
                  It's a good idea to write and save it in a secure place!</h5>

              <label for="name">New Answer:</label>
              <input id="answer" type ="password" class="form-control" maxlength="80" size="32"
                name="security_question_answer" autocomplete="off">

              <div class="padding-bottom"></div>

              <label for="name">Confirm the New Answer:</label>
              <input id="conf_answer" type ="password" class="form-control" maxlength="80" size="32"
                name="conf_security_question_answer" autocomplete="off">
              
              <div class="padding-bottom"></div><br>

              <label for="name">PIN:</label>
              <input type ="password" class="form-control" maxlength="10" size="8"
                name="pin" required autocomplete="off">

              <div class="padding-bottom"></div><br/>

              <div>
                <button id="register" type="submit" class="btn btn-default" id="submit">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true">Register the new user*</span> 
                </button>
                <a href = "{{ url_for('showLogin') }}">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">Cancel</span> 
                  </button>
                </a>
              </div>
          
              <input type="hidden" name="state" value="{{STATE}}">
              <input type="hidden" name="user_id" value="{{user.id}}">
              <input type="hidden" name="reset_password" value="True">

          <div>
      </form>
    </div>
</div> 

<div class="row justify-content-md-center">
  <div class="col-md-12">
    <h5 class="security-alert">*Please, before clicking on 'Register', verify if the internet
        connection is secure:</h5>
    <h5 class="security-alert">See the site identity button in the address bar.
        Observe if there is a padlock.This means a secure connection.
        But, it cannot have any warning triangle or red strikethrough.</h5>
  </div>
</div>
<br>

<script src="{{ url_for('static', filename='checkFunctions.js') }}"></script>

{% endblock %}
